<div class="login_cus">
    <div class="center-r d-flex jcc alic">
      <div class="login_cus-block d-flex jcc  f-col">
        <h4 align="center">Sign In <br> Admin Panel</h4>
        <form class="col s12" id="authForm">
          <div class="row">
            <div class="input-field col s12">
              <input id="loginInput" type="text" class="validate white_cus">
              <label for="loginInput" class="white_cus">Login</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="passwordInput" type="password" class="validate white_cus">
              <label for="passwordInput" class="white_cus">Password</label>
            </div>
          </div>

          <div class="d-flex jcc">
            <button class="waves-effect waves-light btn">SignIn</button>
          </div>
        </form>
      </div>
    </div>
</div>
